<!DOCTYPE HTML>
<html ng-app="checkApp">
	<head>
		<title>Чеклист</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
		<style>
			.done-true {
				text-decoration: line-through;
				color: green;
			}
		</style>
	</head>
	<body>
		<h2>Задачи</h2>
		<div ng-controller="checkList">
			<span>Осталось {{remain()}} из {{tasks.length}}</span>
			<ul>
				<li ng-repeat="task in tasks" class="item">
					<label class="checkbox">
						<input type="checkbox" ng-model="task.done">
						<span class="done-{{task.done}}">{{task.text}}</span>
					</label>
					<button ng-click="deltask(task)">Удалить</button>
				</li>
			</ul>
			<form ng-submit="addTask()">
				<input type="text" ng-model="taskText" size="50" placeholder="Введите задачу сюда">
				<input type="submit" value="Добавить">
			</form>
		</div>
		<script>
		var app = angular.module('checkApp', []);
	
		app.controller('checkList', function($scope) {
			$scope.tasks = [
				{text:'Полить цветы', done: false},
				{text:'Посмотреть фильм', done: true},
				{text:'Покормить кота', done: true},
				{text:'Постирать белье', done: false}];
			
			$scope.addTask = function() {
				if($scope.taskText !== '') {
					$scope.tasks.push({text:$scope.taskText, done:false});
					$scope.taskText = '';
				};
			};
		
			$scope.remain = function() {
				var count = 0;
				angular.forEach($scope.tasks, function(task) {
					count += task.done ? 0 : 1;
				});
				return count;
			};
		
			$scope.deltask = function(item) {
				var tasksIndDel = $scope.tasks.indexOf(item);
				$scope.tasks.splice(tasksIndDel, 1);
				$scope.$apply();
			};
		});
		</script>
	</body>
</html>